body {
  margin: 0;
  box-sizing: border-box;
  background-color: #E9ECF8;
  font-family: "Montserrat";
}

.panel {
  border-radius: 32px;
  background-color: white;
  border-color: #F2F3FA;
  border-style: solid;
  border-width: 10px;
  border-radius: 32px;
  box-shadow: 0px 0px 44px -8px rgba(105, 60, 218, 0.18);
}

.button-rounded {
  border-radius: 50%;
}

nav {
  height: 100px;
  font-size: 30px;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

nav a:hover {
  color: inherit;
}

nav .menu-active {
  color: #8366FD;
}

nav .menu-inactive {
  color: #323232;
}


button {
  user-select: none;
}


button#create {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  font-size: 35px;
}


.collections {
  max-width: 1500px;
}

.collection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex-basis: 380px;
  height: 450px;
  margin: 20px;
  padding: 30px 15px;
}

.collection .title {
  margin-bottom: 50px;
  font-size: 35px;
}

.collection .description {
  color: #868686;
  font-size: 20px;
}

.collection .buttons {
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: end;
  flex-grow: 1;
  align-self: stretch;
  justify-content: space-around;
}

.collection .buttons button {
  flex-basis: 130px;
  height: 50px;
}

.button-dark {
  background-color: #323232;
  color: white;
  border: none;
  border-radius: 44px;
  padding: 10px;
  /* min-width: 80px; */
  transition-duration: .3s;
}

.button-dark:hover {
  background-color: #494949;
}

.button-light {
  background-color: #8366FD;
  color: white;
  border: none;
  border-radius: 44px;
  padding: 10px;
  /* min-width: 80px; */
  transition-duration: .3s;
}

.button-light:hover {
  background-color: #987eff;
}

/* editor */

.editor {
  background-color: white;
  border-radius: 32px;
  max-width: 1000px;
  /* padding: 10px; */
  /* padding: 35px; */
  /* margin: 50px auto; */
  /* margin-top: 20px; */
  display: flex;
  flex-flow: column nowrap;
}

.editor input, .editor textarea {
  background-color: #F2F3FA;
  border: none;
  padding: 10px 20px;
  transition-duration: 0.1s;
}

.editor input:focus, .editor textarea:focus {
  outline: 3px solid #8366FD;
}

.editor input#title {
  width: 100%;
  border-radius: 52px;
  flex-basis: 60px;
  font-size: 1.3em;
}

.editor #warning {
  color: rgb(245, 67, 67);
}

.editor textarea#description {
  /* margin-top: 25px;
  margin-bottom: 25px; */
  flex-basis: 200px;
  /* width: 500px; */
  width: 100%;
  resize: none;
  border-radius: 20px;
}


.editor .buttons button {
  flex-basis: 125px;
  height: 45px;
}


.editor .items-area {
  position: relative;
  border-style: solid;
  border-color: #8366FD;
  border-radius: 20px;
  height: 500px;
  padding: 10px;
}

.editor .items {
  padding: 20px 10px;
  padding-left: 20px;
  overflow: auto;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.editor .items input {
  margin-right: 20px;
  border-radius: 10px;
  width: 280px;
  transition-duration: .1s;
}

.delete-item {
  border: none;
  background-color: white;
}

.delete-item img {
  width: 20px;
  height: 20px;
}

.editor button#add {
  width: 60px;
  height: 60px;
  font-size: 25px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 20px;
}

/* quiz */

.action-panel-wrapper {
  perspective: 400px;
}
.action-panel {
  text-align: center;
  background-color: white;
  width: 200px;
  height: 300px;
  margin: 0 auto;
  border-radius: 25px;
  /* transform: rotateY(180deg); */
  /* animation: turn .3s ease-in-out infinite; */
}

@keyframes turn {
  /* 0% {transform: rotateY(0deg);}; */
  100% {transform: rotateY(180deg);};
}

.card-text {
  font-size: 2em;
  padding-top: 80px;
  margin-bottom: 100px
}




@media screen and (min-width: 768px) {
 
  .editor textarea#description {
    width: 600px;
  }
  .editor input#title{
    width: 500px;
  }
}

@media screen and (min-width: 1024px) {
 
  .editor button#add {
    position: absolute;
    bottom: 20px;
    right: 30px; 
  }
}


@font-face {
  font-family: "Montserrat"; 
  src: url("fonts/Montserrat-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
